
week5backend/.DS_Store
week5backend/out/artifacts/.DS_Store
week5backend/src/.DS_Store
week5backend/src/main/.DS_Store
week5backend/src/main/java/.DS_Store
week5backend/src/main/resources/META-INF/.DS_Store
.DS_Store
