
<header>
  <gameinfo>gameinfo loading...</gameinfo>
  <timer>timer loading...</timer>
</header>

<div class="container">
  <div id="main">
  <div>
    <board ng-init="initGame(6)">board loading...</board>
  </div>
  <table id="meta">
    <tr><td>
      <topfive>card loading...</topfive>
      <config>card loading...</config>
    </td></tr>
    <tr><td>
      <pickcolor>card loading...</pickcolor>
    </td></tr>
    <tr><td>
      <startgame>card loading...</startgame>
    </td></tr>
    </table>
</div>
