/* You can add global styles to this file, and also import other style files */
body { width:90vw; height:90vh; padding:0; margin:0; font-family:Skia,Verdana,sans-serif; text-align:center; }

header.span { display:table-cell; }
// Sidebar table
table#meta { position:fixed; right:4vw; top:10vw;  width: 25vw; height:70vh; }
table#meta td { vertical-align:top; text-align:left; padding:1%; }

//Custom Angular memory play Board
app-board { display: table; table-layout:fixed; margin:0 auto; }
app-row { display: table-row; }
app-card { display: table-cell; cursor:pointer; text-align:center; color:white; font-size:large; font-weight:bold; margin: 10px; }
app-card p {
  display: inline-block;
  padding: 30px 35px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
}
// Card IDs
.inactive { background-color:red; }
.active { background-color:green; }
.found{ background-color:purple; cursor:default; }

// Mobile and tablet
@media only screen and (orientation:landscape) {
  app-board { width:75vh; height:75vh; border-spacing:1vh;}
}

@media only screen and (orientation:portrait) {
  app-board { width:70vw; height:70vw; border-spacing:1vw;}
}

button {width: 100px}

#myTime {
  position: relative;
  width: 200px;
  height: 30px;
  background-color: #ddd;
}

#timeLeft {
  width: 185px;
  height: 20px;
  background-color: #4CAF50;
}
